<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648757772301-arfc9506i8385oprikvqvm2ldfhe0184.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648757772301-arfc9506i8385oprikvqvm2ldfhe0184</string>
	<key>API_KEY</key>
	<string>AIzaSyCy0pQuk72s1A93V1JHj52DTCkTRkn-Y_s</string>
	<key>GCM_SENDER_ID</key>
	<string>648757772301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarathpariyarath.Firebase-PPS-2</string>
	<key>PROJECT_ID</key>
	<string>fir-pps-2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pps-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648757772301:ios:49f37d91459072b635d544</string>
</dict>
</plist>